# About ${project.groupId}:${project.artifactId}:${project.version}

This is is some data about this project (${project.groupId}:${project.artifactId}:${project.version})

This is the ${project.artifactId} project!

---

This is a base parent for AHC Scala projects.

